Package: python2.7
Version: 2.7.15-5
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 371
Depends: python2.7-minimal (= 2.7.15-5), libpython2.7-stdlib (= 2.7.15-5), mime-support
Suggests: python2.7-doc, binutils
Conflicts: python-profiler (<= 2.7.1-2)
Breaks: python-virtualenv (<< 1.7.1.2-2~), vim-athena (<< 2:7.3.547-4), vim-gnome (<< 2:7.3.547-4), vim-gtk (<< 2:7.3.547-4), vim-nox (<< 2:7.3.547-4)
Replaces: python-profiler (<= 2.7.1-2), python2.7-minimal (<< 2.7.3-7~)
Section: python
Priority: optional
Multi-Arch: allowed
Description: Interactive high-level object-oriented language (version 2.7)
 Python is a high-level, interactive, object-oriented language. Its 2.7 version
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.
