Package: libpython2.7-minimal
Source: python2.7
Version: 2.7.15-5
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 2781
Recommends: libpython2.7-stdlib
Conflicts: binfmt-support (<< 1.1.2)
Breaks: python2.7-minimal (<< 2.7.4~rc1-1~)
Replaces: libpython2.7-stdlib (<< 2.7.8-7), python2.7 (<< 2.7.4-2), python2.7-minimal (<< 2.7.3-10)
Section: python
Priority: optional
Multi-Arch: same
Description: Minimal subset of the Python language (version 2.7)
 This package contains some essential modules. It is normally not
 used on it's own, but as a dependency of python2.7-minimal.
