Package: libpython2.7-testsuite
Source: python2.7
Version: 2.7.15-5
Architecture: all
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 14758
Depends: libpython2.7-stdlib (>= 2.7.15-5)
Suggests: python-gdbm, python-tk
Section: libdevel
Priority: optional
Description: Testsuite for the Python standard library (v2.7)
 The complete testsuite for the Python standard library.  Note that
 a subset is found in the libpython2.7-stdlib package, which should
 be enough for other packages to use (please do not build-depend
 on this package, but file a bug report to include additional
 testsuite files in the libpython2.7-stdlib package).
