Package: libpython2.7-dbg
Source: python2.7
Version: 2.7.15-5
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 173328
Depends: libpython2.7-stdlib (= 2.7.15-5), libbz2-1.0, libc6 (>= 2.28), libdb5.3, libexpat1 (>= 2.1~beta3), libffi6 (>= 3.0.4), libncursesw6 (>= 6), libreadline7 (>= 7.0~beta), libsqlite3-0 (>= 3.5.9), libssl1.1 (>= 1.1.0), libtinfo6 (>= 6), zlib1g (>= 1:1.1.4)
Suggests: python2.7-gdbm-dbg, python2.7-tk-dbg
Replaces: python2.7-dbg (<< 2.7.3-10)
Section: debug
Priority: optional
Multi-Arch: same
Description: Debug Build of the Python Interpreter (version 2.7)
 The package holds two things:
 .
 - Extensions for a Python interpreter configured with --pydebug.
 - Debug information for standard python extensions.
 .
 See the README.debug for more information.
