Package: libpython2.7-dev
Source: python2.7
Version: 2.7.15-5
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 75667
Depends: libpython2.7-stdlib (= 2.7.15-5), libpython2.7 (= 2.7.15-5), libexpat1-dev
Recommends: libc6-dev | libc-dev
Replaces: python2.7 (<< 2.7-3), python2.7-dev (<< 2.7.3-10), python2.7-minimal (<< 2.7.3-10)
Section: libdevel
Priority: optional
Multi-Arch: same
Description: Header files and a static library for Python (v2.7)
 Header files, a static library and development tools for building
 Python (v2.7) modules, extending the Python interpreter or embedding
 Python (v2.7) in applications.
 .
 Maintainers of Python packages should read README.maintainers.
 .
 This package contains development files. It is normally not
 used on it's own, but as a dependency of python2.7-dev.
