Package: python2.7-minimal
Source: python2.7
Version: 2.7.15-5
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 5672
Pre-Depends: libc6 (>= 2.28), zlib1g (>= 1:1.1.4)
Depends: libpython2.7-minimal (= 2.7.15-5)
Recommends: python2.7
Suggests: binfmt-support
Conflicts: binfmt-support (<< 1.1.2)
Replaces: python2.7 (<< 2.7.8-7~)
Section: python
Priority: optional
Multi-Arch: allowed
Description: Minimal subset of the Python language (version 2.7)
 This package contains the interpreter and some essential modules.  It can
 be used in the boot process for some basic tasks.
 See /usr/share/doc/python2.7-minimal/README.Debian for a list of the modules
 contained in this package.
