Package: python2.7-examples
Source: python2.7
Version: 2.7.15-5
Architecture: all
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 2917
Depends: python2.7:any (>= 2.7.15-5)
Section: python
Priority: optional
Multi-Arch: foreign
Description: Examples for the Python language (v2.7)
 Examples, Demos and Tools for Python (v2.7). These are files included in
 the upstream Python distribution (v2.7).
