Package: idle-python2.7
Source: python2.7
Version: 2.7.15-5
Architecture: all
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 1309
Depends: python2.7, python-tk (>= 2.6~a3), python2.7-tk
Enhances: python2.7
Replaces: python2.7 (<< 2.6.1-2)
Section: python
Priority: optional
Description: IDE for Python (v2.7) using Tkinter
 IDLE is an Integrated Development Environment for Python (v2.7).
 IDLE is written using Tkinter and therefore quite platform-independent.
