Package: python2.7-doc
Source: python2.7
Version: 2.7.15-5
Architecture: all
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 33639
Depends: libjs-jquery, libjs-underscore
Suggests: python2.7
Section: doc
Priority: optional
Multi-Arch: foreign
Description: Documentation for the high-level object-oriented language Python (v2.7)
 These is the official set of documentation for the interactive high-level
 object-oriented language Python (v2.7). All documents are provided
 in HTML format. The package consists of ten documents:
 .
   * What's New in Python2.7
   * Tutorial
   * Python Library Reference
   * Macintosh Module Reference
   * Python Language Reference
   * Extending and Embedding Python
   * Python/C API Reference
   * Installing Python Modules
   * Documenting Python
   * Distributing Python Modules
